* {
  border: none;
  border-radius: 0;
  font-family: "JetBrains Mono";
  font-size: 14px;
  font-weight: 900;
  min-height: 0;
}

window#waybar {
  background: #201b14;
  color: #bbbbbb;
}

#tray {
  padding-left: 10px;
  padding-right: 10px;
}

#workspaces button {
  padding: 0 8px;
  background: transparent;
  color: #bbbbbb;
  border-bottom: 3px solid transparent;
}

#workspaces button.active {
  background: #005577;
  color: #201b14;
}

#workspaces button.urgent {
  background: #ad401f;
  color: #eeeeee;
}

#workspaces button:hover {
  background: #444444;
  color: #eeeeee;
}

#window {
  padding: 0 10px;
  color: #bbbbbb;
}

#custom-sep {
  font-size: 18px;
  padding: 0px;
  color: #94e2d5;
  /* color: #cba6f7; */
}

#cpu {
  color: #94e2d5;
  padding-left: 4px;
}

#battery {
  color: #c4c8c5;
  padding-right: 14px;
}

#memory {
  color: #cba6f7;
  padding-left: 10px;
  padding-right: 10px;
}


#clock {
  color: #c4c8c5;
  padding-right: 5px;
  padding-left: 10px;
}

#clock.simpleclock {
  color: #c4c8c5;
  padding-left: 5px;
  padding-right: 10px;
}

#pulseaudio {
  color: #c4c8c5;
  padding-left: 10px;
  padding-right: 10px;

}

#pulseaudio.muted {
  color: #707270;
  padding-right: 14px;
}

#custom-power {
  color: #c4c8c5;
  padding-left: 10px;
  padding-right: 10px;
}

#bluetooth {
  padding-left: 10px;
  padding-right: 10px;
}
