* {
    border: none;
    border-radius: 0px;
    min-height: 0;
    font-family: "Cascadia Code NF";
    font-size: 12px;
    font-weight: 700;
}

.modules-center {
  background: #000000;
  padding: 6px 12px;
  border-radius: 28px;
  box-shadow: @ 4px 12px rgba(0, 0, 0, 0.3);
}
window#waybar {
    background: transparent;
}

#workspaces {
  background: transparent;
  margin: 0px 2px;
  border-radius: 16px;
  border: none;
  box-shadow: none;
}

#workspaces button {
    background-color: #000000;
    color: #c4c8c5;
    border-radius: 16px;
    transition: all 0.3s ease-in-out;
    min-width: 25px;
}

#workspaces button:hover {
    color: #c4c8c5;
    background-color: #1d1f21;
    transition-duration: 0.4s;
}

#workspaces button.active {
    background-color: #c4c8c5;
    min-width: 40px;
    color: #1d1f21;
    transition-duration: 0.4s;
}

#workspaces button.urgent {
    background-color: #1d1f21;
    color: #bc5e5e;
}
#clock,
#pulseaudio,
#custom-logo,
#custom-power,
#custom-spotify,
#custom-dunst,
#cpu,
#tray,
#memory,
#window,
#battery,
#mpris {
    background-color: #000000;
    padding: 0 8px;
    margin: 0 5px;
    border-radius: 0px;
    border: none;
    box-shadow: none;
    /* background-color: #181825; */
    /* background-color: #1d1f21; */
}

